apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "go-api-app.fullname" . }}
  labels:
    {{- include "go-api-app.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "go-api-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "go-api-app.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "go-api-app.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["./go-api-app"]
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
              env:
                - name: PORT
                  valueFrom:
                    configMapKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-config
                      key: PORT
                - name: MONGO_URI
                  valueFrom:
                    configMapKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-config
                      key: MONGO_URI
                - name: MONGO_NAME
                  valueFrom:
                    configMapKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-config
                      key: MONGO_NAME
                - name: MONGO_USER_COLLECTION
                  valueFrom:
                    configMapKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-config
                      key: MONGO_USER_COLLECTION
                - name: MONGO_BOOKMARK_COLLECTION
                  valueFrom:
                    configMapKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-config
                      key: MONGO_BOOKMARK_COLLECTION
                - name: AUTH_TOKEN_TTL
                  valueFrom:
                    configMapKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-config
                      key: AUTH_TOKEN_TTL

              # Secret variables
                - name: AUTH_HASH_SALT
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-auth
                      key: AUTH_HASH_SALT
                - name: AUTH_SIGNING_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "go-api-app.fullname" . }}-auth
                      key: AUTH_SIGNING_KEY
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
