format_version: 10
environments:
  Test-pipelines:
    pipelines:
      - Deploy
pipelines:
  Deploy:
    group: defaultGroup
    label_template: ${COUNT}
    lock_behavior: none
    display_order: -1
    materials:
      BuildTestReport:
        pipeline: Build-Test-Report
        stage: Build-image
        ignore_for_scheduling: true
      git-46f3484:
        git: https://github.com/toan-ship-it/go-api.git
        username: toan
        ignore:
          - README.md
        shallow_clone: false
        auto_update: true
        branch: main
        encrypted_password: AES:TrdXHWrLLD19QNchpCIsow==:hRtl5k2lPRqaZNJ5/jTpbAGyYoMllm49T24spEV+gDfp96fWVyN430cTO+zyVMEz
      pipeline-repo:
        git: https://github.com/toan-ship-it/gocd-pipeline.git
        username: toan
        includes:
          - dummy-file-to-prevent-triggering.txt
        shallow_clone: false
        auto_update: true
        branch: main
        encrypted_password: AES:TrdXHWrLLD19QNchpCIsow==:hRtl5k2lPRqaZNJ5/jTpbAGyYoMllm49T24spEV+gDfp96fWVyN430cTO+zyVMEz
        destination: pipeline
    stages:
      - Deploy:
          fetch_materials: true
          keep_artifact: false
          clean_workspace: true
          approval:
            type: manual
            allow_only_on_success: true
          jobs:
            deploy_app:
              tasks:
                # Task để chạy lệnh 'make deploy'
                # - fetch:
                #     run_if: passed
                #     artifact_origin: external
                #     pipeline: Build-Test-Report
                #     stage: Build-image
                #     job: defaultJob
                #     artifact_id: go-api-app
                - exec:
                    run_if: passed
                    command: make
                    arguments:
                      - deploy
                    working_directory: app-source
                - exec:
                    command: ls
                    arguments:
                      - .
